<nav id="navmenu" class="navmenu">
  <ul>
    <li>
      <a href="{% url 'index' %}" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>Home<br /></a>
    </li>
    <li>
      <a href="{% url 'about' %}" {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}>About</a>
    </li>
    <li>
      <a href="{% url 'courses' %}" {% if request.resolver_match.url_name == 'courses' %}class="active"{% endif %}>Courses</a>
    </li>
    <li>
      <a href="{% url 'trainers' %}" {% if request.resolver_match.url_name == 'trainers' %}class="active"{% endif %}>Trainers</a>
    </li>
    <li>
      <a href="{% url 'events' %}" {% if request.resolver_match.url_name == 'events' %}class="active"{% endif %}>Events</a>
    </li>
    <li class="dropdown">
      <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li>
          <a href="#">Dropdown 1</a>
        </li>
        <li class="dropdown">
          <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li>
              <a href="#">Deep Dropdown 1</a>
            </li>
            <li>
              <a href="#">Deep Dropdown 2</a>
            </li>
            <li>
              <a href="#">Deep Dropdown 3</a>
            </li>
            <li>
              <a href="#">Deep Dropdown 4</a>
            </li>
            <li>
              <a href="#">Deep Dropdown 5</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Dropdown 2</a>
        </li>
        <li>
          <a href="#">Dropdown 3</a>
        </li>
        <li>
          <a href="#">Dropdown 4</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{% url 'contact' %}" {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>Contact</a>
    </li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
